In [2]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000'
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
        print (x)

('football_management',)
('goods',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [14]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'goods'
)
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE item2(id int, item_serial_no varchar(255), item_name varchar(255), old_quantity int, new_quantity int,date_of_delivery date)')

In [19]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'goods'
)
sql= 'INSERT INTO item2(id, item_serial_no, item_name, old_quantity, new_quantity,date_of_delivery) VALUES (%s,%s,%s,%s,%s,%s)'
Val= (1,'PLATE0258','PLATE',15,80,'2021-11-20')
mycursor = mydb.cursor()
mycursor.execute(sql, Val)
mydb.commit()
print(mycursor.rowcount, 'records was inserted')

1 records was inserted

In [21]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'goods'
)
sql= 'INSERT INTO item2(id, item_serial_no, item_name, old_quantity, new_quantity,date_of_delivery) VALUES (%s,%s,%s,%s,%s,%s)'
Val = [(2, 'SPOON5689', 'Spoon', 25,100,'2021-11-21'),
       (2, 'CUP898', 'Cups', 65,80,'2021-11-22'),
       (2, 'BLADE23689', 'BLADE', 25,100,'2021-11-22'),
       (2, 'MOP89569', 'MOPING STICK', 100,100,'2021-11-23'),
       (2, 'BUCKET5689', 'SBUCKET', 25,100,'2021-11-24'),
       (2, 'BRUSH5689', 'Brush', 25,100,'2021-11-24'),
       (2, 'SHOE5689', 'Boot', 25,100,'2021-11-24'),
       (2, 'SHOE5689', 'Slippers', 25,100,'2021-11-24'),
       (2, 'SHOE689', 'Sandals', 25,100,'2021-11-24')]

mycursor = mydb.cursor()
mycursor.executemany(sql, Val)
mydb.commit()
print(mycursor.rowcount, 'records was inserted')

9 records was inserted

In [30]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'goods'
)
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM item2')
result = mycursor.fetchall()
for x in result:
    print (x)

(1, 'PLATE0258', 'PLATE', 15, 80, datetime.date(2021, 11, 20))
(2, 'SPOON5689', 'Spoon', 25, 100, datetime.date(2021, 11, 21))
(2, 'CUP898', 'Cups', 65, 80, datetime.date(2021, 11, 22))
(2, 'BLADE23689', 'BLADE', 25, 100, datetime.date(2021, 11, 22))
(2, 'MOP89569', 'MOPING STICK', 100, 100, datetime.date(2021, 11, 23))
(2, 'BUCKET5689', 'SBUCKET', 25, 100, datetime.date(2021, 11, 24))
(2, 'BRUSH5689', 'Brush', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE5689', 'Boot', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE5689', 'Slippers', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE689', 'Sandals', 25, 100, datetime.date(2021, 11, 24))

In [31]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'goods'
    )
mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM item2 WHERE new_quantity = 100')
result = mycursor.fetchall()
for x in result:
    print (x)

(2, 'SPOON5689', 'Spoon', 25, 100, datetime.date(2021, 11, 21))
(2, 'BLADE23689', 'BLADE', 25, 100, datetime.date(2021, 11, 22))
(2, 'MOP89569', 'MOPING STICK', 100, 100, datetime.date(2021, 11, 23))
(2, 'BUCKET5689', 'SBUCKET', 25, 100, datetime.date(2021, 11, 24))
(2, 'BRUSH5689', 'Brush', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE5689', 'Boot', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE5689', 'Slippers', 25, 100, datetime.date(2021, 11, 24))
(2, 'SHOE689', 'Sandals', 25, 100, datetime.date(2021, 11, 24))