In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000'
)
mycursor = mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
        print (x)

('football_management',)
('goods',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'football_management'
)
mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE laliga(id int, club_name varchar(255), city varchar(255), club_networth varchar(255), Current_position int, number_of_Trophies int)')

In [33]:
mydb = mysql.connector.connect(
    host ='localhost',
    user = 'root',
    password='Emadora5000',
    database = 'football_management'
    
sql= 'INSERT INTO laliga(id, club_name, city, club_networth, Current_position, number_of_Trophies) VALUES (%s,%s,%s,%s,%s,%s)'
Val=  [(1, 'chelsea','london','190bn$',1,17),
      (2, 'liverpool','mercyside','224bn$',2,15),
      (3, 'mancity','manchester','250bn$',3,14),
      (4, 'westham','london','260bn$',4,13),
      (5, 'Arsenal','london','265bn$',5,12),
      (6, 'Arsenal','UK','265bn$',5,12),
      (7, 'Arsenal','Dublin','265bn$',3,14),
      (8, 'Arsenal','london','265bn$',5,12),
      (9, 'Arsenal','Abroad','265bn$',5,13),
      (10, 'Arsenal','london','265bn$',5,12)]
    
mycursor = mydb.cursor()
mycursor.executemany(sql, Val)
mydb.commit()
print(mycursor.rowcount, 'records was inserted')

SyntaxError: invalid syntax (<ipython-input-33-7b07a4c793ba>, line 7)